.buttons {
    display: flex;
    justify-content: space-around;
}
input[type="button"]{
    width: 250px;
    height: 250px;
    color: transparent;
    font-size: 0;
    background-size: cover;
}
input[type="button"]:hover {
            box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
        }
.rock {
    background-image: url(images/rock.png);
}
.paper {
    background-image: url(images/paper.png);
}
.scissors {
    background-image: url(images/scissors.png);
}